.index-title {
  color: black;
  font-size: 1.4rem;
}

.indices {
  color: black;
  border: 1px solid black;
  width: 100%;
}

.sources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 2rem;
  font-size: 0.8rem;
}

.index-pattern-input {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 3rem;
}
