.index-titler{
    color: black;
    font-size:1.4rem;
    
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    min-width: 60%;
    padding: 5rem;
    margin: 1rem auto;
    background-color:whitesmoke;
    gap: 2rem;
}

.indices {
  color: black;
  border: 1px solid black;
  width: 100%;
}

.sources-container{
display: flex;
flex-direction: column;
align-items: center;
    color: black;
    padding: 2rem;
    font-size: .8rem;
}

// .index-patterns{
//     display: flex;
//     align-items: center
// }

// .alerts-display-header{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.delete-indexes{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

