.index-titler{
    color: black;
    font-size:1.4rem;
}

.index-container{
    min-height: 40vh;
}

.indicies{
    color: black;
    border: 1px solid black;
}

.sources-container{

    color: black;
}