
.app-container{
    display: flex;
    max-width: 120rem;
    margin: 8rem auto;
    background-color: white;
    box-shadow: var(--box-shadow);
    // min-height: 50rem;
    flex-wrap: wrap;
    // padding: 10rem
    // background-image: linear-gradient(to right bottom, silver, grey);
    border-radius: 5rem;
}

.header{
    height: 7rem;
    background-color: black;
    border-bottom: var(--color-grey-light-2);
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // min-width: 200rem
     
     
    

}
// 

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    :link,
    :visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10%;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    color: #000;
}

    
}

// .features{
// display: flex;
// justify-self: flex-end;
// color: gold;
// font-size: 1.6rem;
// }

.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 9rem;
    padding: 5rem;
}


.logs-container{
    color: gold
}