.app-container {
  // display: grid;
  // grid-template-rows: 0.5fr 1fr;
  // gap: 2rem;
  max-width: 120rem;
  margin: 4rem auto;
  background-color: var(--color-grey-light-3);
  box-shadow: var(--box-shadow);
  // min-height: 50rem;
  flex-wrap: wrap;
  // padding: 10rem
  // background-image: linear-gradient(to right bottom, silver, grey);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 7rem;
  background-color: var(--color-black);
  border-bottom: var(--color-grey-light-2);
  flex: 0 1 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // min-width: 200rem
  h1 {
    color: var(--color-primary-gold);
    font-size: 4rem;
    font-weight: 500;
  }
  img {
    height: 4rem;
    margin: 0 1rem;
  }
  #title {
    margin: 0 1rem;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  :link,
  :visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10%;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    color: #000;
  }
}

// .features{
// display: flex;
// justify-self: flex-end;
// color: gold;
// font-size: 1.6rem;
// }

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 9rem;
  padding: 5rem;
}

.filter-box {
  display: flex;
  border-radius: 3px;
  // outline: .05rem solid black;
  align-items: center;
  width: 100%;
}
