.alerts-display-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 5rem;
  font-size: xx-large;
  color: black;
}

.alert-inputs {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.alert-box {
  display: flex;
  justify-content: center;
  width: 100rem;
}

.editor-container-div {
  border: 1px solid #3c9eff;
}

.create-alert-details {
  display: flex;
  justify-content: space-between;
}

.action-details {
  display: flex;
  justify-content: space-between;
}
