*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%;
    
}

body{
    background-color: aquamarine;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem
}

.sidebar-nav{
    display: flex;
    flex-direction: column;

    :link,
    :visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    color: #000;
}
    
}

