@import './sidebar.scss';
@import './logs.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html{
    font-size: 62.5%;
    
}

body{
    background-color: aquamarine;
    padding: 3rem;
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.8rem;
    
    
    
}

.features{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
}



.app-container{
    display: grid;
    grid-template-rows: .2rem 1rem;

   
}

